<!DOCTYPE html>
<html>
  <head>
    <title>Hello, World!</title>
    <link rel="stylesheet" href="../static/css/homepage-styles.css" />
  </head>
  <body>
      <div class="top">
        <div class="navButton">Help Center</div>
        <div class="navButton">AdChoices</div>
        <div class="navButton">Sign Off</div>
      </div>
      
      <img class="logo" src="https://mma.prnewswire.com/media/1632139/CIBC_CIBC_unveils_new_look_symbolizing_the_bank_s_purpose_of_hel.jpg?p=facebook" alt="" style="width: 142px">
      
      <div class="left">
          <div class="leftButton" style="background: #C41F3E; color: white;">Home</div>
          <div class="leftButton">Home</div>
          <div class="leftButton">Home</div>
          <div class="leftButton">Home</div>
      </div>
      

    <div class="main">
      <div class="mainLeft">
          <div class="mainLeftButton">Investment</div>
          <form method="POST" action="{{ url_for('dashboard') }}">
            <input type="hidden" name="wallet_address" value="{{ wallet_address }}">
            <button type="submit" class="mainLeftButton">My NFT's</button>
        </form>
          <div class="mainLeftButton">Mutual Funds</div>
          <div class="mainLeftButton">GICs</div>
          <div class="mainLeftButton">Stocks</div>
      </div>
  
        <img class="main-img" src="https://media.discordapp.net/attachments/1326308552872165440/1327754661213634691/image.png?ex=67843763&is=6782e5e3&hm=80b49aa81f70c714a54052ccff57dc4027d8a348be5ec338d96a779f11bb282e&=&format=webp&quality=lossless&width=1103&height=600">
    </div>
      <script src="script.js"></script>
  </body>
</html>
